"*":
  "atom-beautify":
    general:
      _analyticsUserId: "22a4560b-44a0-4a5b-ae3d-439ad3143541"
  autosave:
    enabled: true
  "color-picker":
    preferredFormat: "HSL"
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "*.pyc"
      ".venv/"
    ]
    telemetryConsent: "no"
    themes: [
      "nucleus-dark-ui"
      "behave-theme"
    ]
  editor:
    tabType: "soft"
  "exception-reporting":
    userId: "199f5aad-4a7e-02b3-5130-101402f1235d"
  "file-icons":
    coloured: false
    strategies: {}
  "language-babel":
    autoIndentJSX: true
  "linter-ui-default":
    panelHeight: 36
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  tabs: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
